body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 80vh;
    width: 800px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

#taxi {
    width: 100px;
    height: 140px;
    position: absolute;
    bottom: 0;
    background: url('taxi.svg');
    background-size: cover;
}

.obstacles {
    width: 100px;
    height: 140px;
    position: absolute;
    background: url('obstacle.svg');
    background-size: cover; 
    transform: rotate(180deg);
}
