body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Faster One', cursive;
}

#container {
    height: 85vh;
    width: 30vw;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    z-index: 10;
    background: #fff;
    margin: 0 auto;
    background: url('road.svg');
    background-size: contain;
}

#score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 15%;
    background-color: rgba(214, 214, 214, 0.39);
    justify-self: flex-start;
    position: absolute;
    left: 5%;
}

#score-container h1 {
    font-size: 3em; 
}

#score {
    margin: 30px 0;
    font-size: 3em;
}

#taxi {
    width: 12%;
    position: absolute;
    bottom: 0;
}

.obstacles {
    width: 12%;
    position: absolute;
    transform: rotate(180deg);
}

#car1 {
    top: -10%;
}

#car2 {
    top: -480px;
}

#car3 {
    top: -890px;
}

#game-over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: 'Knewave', cursive;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(48, 48, 48, 0.438);
}

#game-over-heading {
    font-size: 3.5em;
    margin-bottom: 1.5em;
}

#game-over img {
    max-width: 100%;
    width: 20vw;
    height: auto;
}

#btn-game-over {
    display: block;
    margin: 1.5em auto;
    padding: 1% 3%;
    font-family: 'Knewave', cursive;
    font-size: 2em;
    border-radius: 30px;
    background-color: rgba(255, 252, 93, 0.8);
    border: none;
    transition: 0.5s;
}

#btn-game-over:hover {
    background-color: rgba(255, 252, 93);
    padding: 1.5% 4%;
}